$designWidth: 414;
@function px2rem($px) {
    @return calc($px / $designWidth) * 10 + rem;
}

$backgroundColor: #202020;
$glodTextColor: #E5E798;
$boxBgColor: #272727;
$boxBgColorLight: #343434;
$greyTextColor: #999999; // #9F9F9F, #C1A0A0, #6F6F6F
$dangerColor: #7C0505; // #720000 #EB5555
$successColor: #5EC356; // #00A600
$lightRedColor: #D85454;
$normalTextColor: #DDDDDD;
